
# Android
# Backend
# Deep database files
# General
# iOS
*.cer
*.iml
*.log
*.xcresult/
.DS_Store
.env
.idea/
android/*.jks
android/.externalNativeBuild/
android/.gradle/
android/app/build/
android/build/
android/captures/
android/local.properties
android/safering-keystore.jks
backend/**/*.db
backend/**/*.db-shm
backend/**/*.db-wal
backend/*.db
backend/*.db-shm
backend/*.db-wal
ios/*.p12
ios/*.xcworkspace
ios/DerivedData/
ios/Pods/
ios/SafeRing_Distribution.p12
ios/build/
node_modules/
package-lock.json
package.json
secrets/
