# Build
build/
*.apk
*.aab
*.ap_
*.dex

# IDE
.idea/
*.iml
.gradle/
local.properties

# NDK
.cxx/

# Keystore
*.keystore
*.jks

# Env
.env

keystore.properties
safering-keystore.jks
*.jks
.release-env.sh
